# write python function to accept a number # get diff of that number from 20 # if result of diff is positive then return double the diff # if result of diff is negative then return only diff # if result is zero then return message "entered number is same "

In [8]:
def diff_20(num):
    diff = 20 - int(num)
    if (diff == 0):
        return 'entered number is same'
    elif diff > 0:
        return (int(diff) * 2)
    else:
        return abs(diff)

num = input('enter the number')
diff_20(num)

enter the number 10

20

# write down python function to test whether input number is within 100 # or 1000 or 2000

In [13]:
def range_check(num):
    if int(num) < 100: 
        return 'number is less than 100'
    elif int(num) <1000:
        return 'number less than 1000 but greater than 100'
    elif int(num) < 2000:
        return 'number is less than 2000 but greater than 1000'

num = input('enter a number less than 2000')
range_check(num)

enter a number less than 2000 245

'number less than 1000 but greater than 100'

# write down python function to take list of numbers from user # return list of even numbers # use output of above function for next calculations # filter if number is divisible by 4 , return "Not found" if no such num

In [20]:
import ast
def return_even():
    inp_lst = ast.literal_eval(input('enter the list'))
    even_num = []
    for i in inp_lst:
        if int(i%2)==0:
            even_num.append(i)
    return even_num

input_evens = return_even()
print(input_evens)
count = 0
for i in input_evens:
    if int(i)%4 == 0:
        print(f'{i} is divisible by 4')
        count +=1

if count ==0:
    print('not found')

enter the list [1,2,3,5,6,7,9]

[2, 6]
not found

# convert wieght from pounds to kg using lambda expression

In [61]:
import ast
weight = ast.literal_eval(input('enter in pounds'))
cde = lambda x: float(x)*0.45
abc = [cde(i) for i in weight]
print(abc)

enter in pounds [1,2]

[0.45, 0.9]

In [67]:
data = ['hi',2,4,'help']
print(list(filter(lambda x: type(x) ==int,data)))

[2, 4]

In [81]:
def func(x = 1 ,y = 2):
    z = x * y + x + y
    return z

func(2, func(3))

35

In [83]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996

In [97]:
import ast
input_list = ast.literal_eval(input())
start_with = lambda x: x[0] == 'S'
list(map(start_with, input_list)).count(True)

 ['Sharmistha']

1

In [107]:
import ast

input_list = ast.literal_eval(input())
first_name = input_list[0]
last_name = input_list[1]
first_last = lambda x,y: x+y
name = list(map(first_last,first_name,last_name))

print(name)

 [['ab','cd','ef'],['gh','ij','kl']]

['abgh', 'cdij', 'efkl']

In [109]:
input_string = "I love Python"
k = [(i.upper(), len(i)) for i in input_string.split(' ')]
print(k)

[('I', 1), ('LOVE', 4), ('PYTHON', 6)]

In [111]:
var = [i**2 for i in range(5)]
print(var)

[0, 1, 4, 9, 16]

In [113]:
l1=[1,2,3,7]
l2=[4,5,6,9]
[x+y for x in l1 for y in l2]

[5, 6, 7, 10, 6, 7, 8, 11, 7, 8, 9, 12, 11, 12, 13, 16]

In [115]:
def function(n):
  n=n+1
 
n=2
print(function(2))

None

In [117]:
l=(1, -2, -3, 4, 5)
def f1(x):
    return x//2
m1=map(f1, l)
print(list(m1))

[0, -1, -2, 2, 2]

In [119]:
from functools import reduce
numbers = [-1, 2, -5, 3, 8,-2, 1,-4,-2]
sum = reduce(lambda x, y: x + y, numbers)
print(sum)

0

In [121]:
sample=[-4,2,5,-3]
ans=map(lambda x: x*2, sample)
print(ans)

<map object at 0x0000019D024F2A40>

In [123]:
from functools import reduce
print(list(reduce(lambda x,y:x+y,range(5,15))))

TypeError: 'int' object is not iterable

In [125]:
import functools
lis=[1, 2, 3, 4, 5]
m=functools.reduce(lambda x, y:x if x<y else y, lis)
print(m)

1

In [127]:
lis=[1, 2, 3, 4, 5]
c=lis[0]
for i in range(len(lis)-1):
    if lis[i]<c:
       c=lis[i]
print(c)

1

In [129]:
letters = ('d','i','a','s')
ans = list(map(lambda word: f"{word}x", letters))
print(ans)

['dx', 'ix', 'ax', 'sx']

In [131]:
def sf(a):
    return a%4==0 and a%8!=0
m=filter(sf, range(10, 31))
print(list(m))

[12, 20, 28]

In [133]:
my_list = [1, 2, 3, 4, 5]
reversed_list = reversed(my_list)

type(reversed_list)

list_reverseiterator

In [135]:
#take input here using ast sys
import ast
list_1 = ast.literal_eval(input())
list_2 = ast.literal_eval(input())
list_3 = ast.literal_eval(input())
# write the code here
lower_1 = set(map(lambda x: x.lower(),list_1))
lower_2 = set(map(lambda x: x.lower(),list_2))
lower_3 = set(map(lambda x: x.lower(),list_3))

final_set = lower_1.intersection(lower_2).intersection(lower_3)
print(list(final_set))

 ['Arkam', 'Bairstow', 'Cairy', 'Darpan']
 ['ARKAM', 'Bairstow', 'Cairy', 'Darpan', 'Dhoni', 'Sachin']
 ['arkam', 'bairstow', 'Cheteshwar', 'Dinesh']

['bairstow', 'arkam']

In [137]:
import ast
list_1 = ast.literal_eval(input())
list_2 = ast.literal_eval(input())
list_3 = ast.literal_eval(input())
# write the code here
lower_1 = list(map(lambda x: x.lower(),list_1))
lower_2 = list(map(lambda x: x.lower(),list_2))
lower_3 = list(map(lambda x: x.lower(),list_3))
filter_cond = lambda x: x if x in lower_3 and x in lower_2
final_list = list(filter(filter_cond,lower_1))
print(final_list)

SyntaxError: expected 'else' after 'if' expression (2241238323.py, line 9)